{% set crumbs = page.meta.breadcrumbs or breadcrumbs %}
{% if crumbs %}
<nav class="md-breadcrumbs" aria-label="Breadcrumbs">
  <ol class="md-breadcrumbs__list">
  {%- for crumb in crumbs -%}
    <li class="md-breadcrumbs__item">
      {% if crumb.url %}
        <a class="md-breadcrumbs__link" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
      {% else %}
        <span class="md-breadcrumbs__link">{{ crumb.title }}</span>
      {% endif %}
    </li>
  {%- endfor -%}
  </ol>
</nav>
{% endif %}
